body{
  /*background: #7FB76D; /* For browsers that do not support gradients */
  /*background: -webkit-linear-gradient(left, #B9E78C, #A2E78C); /* For Safari 5.1 to 6.0 */
  /*background: -o-linear-gradient(right, #B9E78C, #A2E78C); /* For Opera 11.1 to 12.0 */
  /*background: -moz-linear-gradient(right, #B9E78C, #A2E78C); /* For Firefox 3.6 to 15 */
  /*background: linear-gradient(to right, #B9E78C , #A2E78C); /* Standard syntax */
  /*background-color: white;*/
  background-image: url('backg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  /*background-repeat: no-repeat;*/
}
.demo-card-wide.mdl-card {
  width: 512px;
  margin-left: auto;
  margin-right: auto;
  top: 150px;
  color: white;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
#titleblock{
  position: absolute;
  width: 512px;
  height: 100px;
  background-color: #626260;
  text-align: center;
  
  }
#toptitle{
  position: relative;
  font-size: 50px;
  top: 30px;
  /*font-weight: lighter;*/
}
#subtitle{
  position: relative;
  top: 35px;
  font-size: 25px;
}
#weathericon{
  font-size: 200px;
  margin-top: 100px;
  color: #626260;
}
#weather{
  color: #626260;
  font-size: 100px;
  font-weight: lighter;
}
#temp{
  font-size:60px;
  color: #626260;
}
#demo{
  font-size: 60px;
  color: #626260;
}
#cardcontents{
}
